<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form class="login" method="post" action="profile">
        <div class="title">LOGIN</div>
        <div class="email">
            <input type="text" id="inp-email" name="email">
            <label>ID</label>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="password">
            <input type="password" id="inp-password" name="password">
            <label>Password</label>
            <i class='bx bx-lock-alt' id="lock-password"></i>
        </div>
        <div class="btn">
            <input type="submit" value="Submit" class="inp">
        </div>
    </form>
</body>
</html>